<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 4*

---

# üìù Assignment

# üå± **Í∏∞Î≥∏ Í≥ºÏ†ú**

## **Part 1. Í∏∞Ï¥à ÎØ∏Î∂Ñ**

### **1-1. Îç∞Ïù¥ÌÑ∞ÏÖã Î∂àÎü¨Ïò§Í∏∞**
- seaborn ÎùºÏù¥Î∏åÎü¨Î¶¨ÏóêÏÑú iris Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î∂àÎü¨Ïò§ÏÑ∏Ïöî. 
  - Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ïù¥Î¶ÑÏùÄ `df_iris`Î°ú Ìï©ÎãàÎã§.



##### **Q1. `df_iris`Ïùò shapeÏùÑ Ïì∞ÏÑ∏Ïöî.**

In [ ]:
import seaborn as sns
import numpy as np

df_iris = sns.load_dataset('iris')
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
df_iris.shape

(150, 5)

### **1-2. ÎèÖÎ¶ΩÎ≥ÄÏàò(independent variable)Ïóê Ìï¥ÎãπÌïòÎäî column ÏßÄÏ†ïÌïòÍ∏∞**
- `df_iris`ÏóêÏÑú `sepal_length` columnÏùò Ïù¥Î¶ÑÏùÑ `x`Î°ú Î≥ÄÍ≤ΩÌïú Îí§, `x` columnÎßå ÎÇ®Í∏∞Í≥† ÎÇòÎ®∏ÏßÄ columnÏùÑ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.
  - `df_iris`Îäî Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌòïÌÉúÏûÖÎãàÎã§.
  - `x`Îäî Îã§Ïùå Î¨∏Ï†úÏóêÏÑú Ï£ºÏñ¥ÏßÄÎäî `f(x)`Ïùò inputÏúºÎ°ú ÏÇ¨Ïö©Îê©ÎãàÎã§.

##### **Q2. `df_iris`Ïùò indexÍ∞Ä 100Ïù∏ Îç∞Ïù¥ÌÑ∞Ïùò `x`Í∞íÏùÑ Ïì∞ÏÑ∏Ïöî.**

In [ ]:
df_iris['x'] = df_iris[['sepal_length']]
df_iris = df_iris.drop(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'], axis = 1)
df_iris

       x
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
..   ...
145  6.7
146  6.3
147  6.5
148  6.2
149  5.9

[150 rows x 1 columns]

In [ ]:
# Îã§ÏùåÍ≥º Í∞ôÏù¥ columnÏùÑ Ï∂îÏ∂úÌïòÏó¨ columnÎ™ÖÏùÑ Î∞îÍøÄ ÏàòÎèÑ ÏûàÏäµÎãàÎã§.
'''
df_iris.rename(columns={'sepal_length':'x'}, inplace=True)
df_iris = df_iris['x'].to_frame()
'''

In [ ]:
df_iris.iloc[100]

x    6.3
Name: 100, dtype: float64

### **1-3. ÎØ∏Î∂Ñ Í≥ÑÏÇ∞**

> Ìï®Ïàò $f(x)$Îäî Îã§ÏùåÍ≥º Í∞ôÏäµÎãàÎã§. 
>
> $f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- **Ìï®Ïàò $f(x)$Î•º ÏßÅÏ†ë ÎØ∏Î∂ÑÌïòÏÑ∏Ïöî.** 
  - $f(x)$Ïùò ÎèÑÌï®ÏàòÎ•º ÏßÅÏ†ë Íµ¨Ìïú ÌõÑÏóê `by_hand` Ìï®ÏàòÏùò Î∞òÌôòÍ∞íÏóê Î∞òÏòÅÌïòÏÑ∏Ïöî.
  - `by_hand` Ìï®ÏàòÎ•º `x`Ïóê Ï†ÅÏö©Ìïú Í≤∞Í≥ºÍ∞íÏùÑ `derivative_hand`ÎùºÎäî columnÏúºÎ°ú `df_iris`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.
    - `df.apply` Î•º ÌôúÏö©Ìï¥Î≥¥ÏÑ∏Ïöî.
  - `derivative_hand` columnÏùò Ìï©ÏùÑ Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ Íµ¨Ìïú Í∞íÏùÑ `res1` Î≥ÄÏàòÏóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî. 
- **Ìï®Ïàò $f(x)$Î•º scipyÎ•º ÌôúÏö©ÌïòÏó¨ ÎØ∏Î∂ÑÌïòÏÑ∏Ïöî.**
  - Ìï®Ïàò $f(x)$Î•º Î∞òÌôòÌïòÎäî `f` Ìï®ÏàòÎ•º ÏôÑÏÑ±ÌïòÏÑ∏Ïöî.
  - scipyÏùò [`derivative()`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)Î•º ÌôúÏö©ÌïòÏó¨ $f(x)$Ïùò ÎèÑÌï®ÏàòÎ•º `x`Ïóê Ï†ÅÏö©Ìïú Í≤∞Í≥ºÍ∞íÏùÑ `derivative_method`ÎùºÎäî columnÏúºÎ°ú `df_iris`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî. 
    - `dx`Îäî 1e-5Î°ú ÏßÄÏ†ïÌïòÍ≥†, Í∑∏ Ïô∏Ïóê optional parameterÎäî defaultÎ°ú ÏÑ§Ï†ïÌï©ÎãàÎã§. 
  - `derivative_method` columnÏùò Ìï©ÏùÑ Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ Íµ¨Ìïú Í∞íÏùÑ `res2` Î≥ÄÏàòÏóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

##### **Q3. `res1` - `res2`Ïùò Í≤∞Í≥ºÍ∞íÏùÑ Ïì∞ÏÑ∏Ïöî.**

In [ ]:
def by_hand(x):
    return 20*(x**4) + 27*(x**2) + 2*(np.e)*x

In [ ]:
df_iris['derivative_hand'] = df_iris['x'].apply(by_hand)
res1 = round(df_iris['derivative_hand'].sum(), 2)
res1

4077643.11

In [ ]:
from scipy.misc import derivative

def f(x):
    return 4*(x**5) + 9*(x**3) + np.e*(x**2) - 7

In [ ]:
df_iris['derivative_method'] = derivative(f, df_iris['x'], dx = 1e-5)
res2 = round(df_iris['derivative_method'].sum(), 2)
res2

4077643.11

In [ ]:
df_iris

       x  derivative_hand  derivative_method
0    5.1     14260.398475       14260.398474
1    4.9     12204.511162       12204.511162
2    4.7     10381.343849       10381.343849
3    4.6      9551.240193        9551.240193
4    5.0     13202.182818       13202.182818
..   ...              ...                ...
145  6.7     41550.696977       41550.696975
146  6.3     32611.802351       32611.802350
147  6.5     36877.337664       36877.337662
148  6.2     30624.258695       30624.258694
149  5.9     25206.667726       25206.667725

[150 rows x 3 columns]

In [ ]:
res1 - res2

0.0

## **Part 2. ÎØ∏Î∂Ñ Ïó∞Ïäµ**

##### **Q4. $f(x) = e^x$Î•º ÎØ∏Î∂ÑÌïú ÌõÑ, $x=5$Ïùº ÎïåÏùò Í≤∞Í≥ºÍ∞íÏùÑ Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ Ïì∞ÏÑ∏Ïöî.**

In [ ]:
import numpy as np

def e_prime(x):
    return np.exp(x)

round(e_prime(5), 2)

148.41

##### **Q5. $f(x) = lnx$Î•º ÎØ∏Î∂ÑÌïú ÌõÑ, $x=5$Ïùº ÎïåÏùò Í≤∞Í≥ºÍ∞íÏùÑ Íµ¨ÌïòÏÑ∏Ïöî.**

In [ ]:
def ln_prime(x):
    return 1/x

ln_prime(5)

0.2

##### **Q6. $f(x) = 2x^2 + 8x$Î•º ÎØ∏Î∂ÑÌïú ÌõÑ, $x=5$Ïùº ÎïåÏùò Í≤∞Í≥ºÍ∞íÏùÑ Íµ¨ÌïòÏÑ∏Ïöî.**

In [ ]:
def f_prime(x):
    return 4*x + 8

f_prime(5)

28

## **Part 3. Ìé∏ÎØ∏Î∂Ñ**

- Ï£ºÏñ¥ÏßÑ `machine learning model`Ïùò `error function` ($\varepsilon$)Ïù¥ Îã§ÏùåÍ≥º Í∞ôÏùÑ Îïå `error function`ÏùÑ **ÏµúÏÜåÌôî** ÌïòÎäî ÏµúÏ†ÅÏùò $p_1$, $p_2$Í∞íÏùÑ Íµ¨ÌïòÏÑ∏Ïöî. 
> $\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 \quad (k_2 == 100)$ 

  - Îã® ÏµúÏ†ÅÏùò $p_1$ÏùÄ $p_2$Í∞Ä 3Ïùº Îïå, ÏµúÏ†ÅÏùò $p_2$Îäî $p_1$Ïù¥ 10Ïùº ÎïåÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ìï©ÎãàÎã§.
  - error functionÏù¥ ÏµúÏÜåÏùº ÎïåÎäî error functionÏùò ÎØ∏Î∂ÑÏù¥ $0$Ïùº ÎïåÏûÖÎãàÎã§.

##### **Q7. $p_2$Í∞Ä $3$Ïùº Îïå, $p_1$ Í∞íÏùÑ Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ Ïì∞ÏÑ∏Ïöî.**

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + 50p_2 $

$$
\begin{aligned}
\frac{\partial \varepsilon}{\partial p_1} = 2(e \cdot p_1 - p_2) \cdot e &= 0 \\
2(e \cdot p_1 - 3) \cdot e &= 0 \\
(e \cdot p_1 - 3) &= 0 \\
\therefore p_1 = \frac{3}{e}
\end{aligned}
$$

In [ ]:
round(3/np.e, 2)

1.1

##### **Q8. $p_1$Ïù¥ $10$Ïùº Îïå, $p_2$ Í∞íÏùÑ Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ Ïì∞ÏÑ∏Ïöî.**

$$
\begin{aligned}
\frac{\partial \varepsilon}{\partial p_2} = 2 \cdot (e \cdot p_1 - p_2) \cdot (-1) + 50 &= 0 \\
-2 \cdot (10e - p_2) + 50 &= 0 \\
2(10e - p_2) &= 50 \\
10e - p_2 &= 25 \\
\therefore p_2 = 10e - 25
\end{aligned}
$$

In [ ]:
round(10*np.e - 25, 2)

2.18

# ü•á **ÎèÑÏ†Ñ Í≥ºÏ†ú**

## **Part 4. ÏßÄÏàòÌï®ÏàòÏùò ÎØ∏Î∂Ñ**

- **Îã§Ïùå Ìï®ÏàòÎ•º ÎØ∏Î∂ÑÌïú ÌõÑ, $x = 3$Ïùº ÎïåÏùò Í≤∞Í≥ºÍ∞íÏùÑ `challenge`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.**  
> $\sigma(x) = {{1} \over {1 + e^{-x}}}$

In [ ]:
def sig_prime(x):
    return np.exp(-x) / (1 + np.exp(-x))**2

In [ ]:
challenge = sig_prime(3)
challenge

0.045176659730912144